.folder{
	height: 39.6vw;
	width:200px;
	margin:10px;
	padding-left: 5px;
    padding-top: 10px;
    background-color: #c6c6c6da;
    color:black;
    border-radius: 10px;
}

/* .notif{
    min-height: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    border: 1px ghostwhite solid;
    padding-left: 20px;
} */

.align{
    display:flex;
    gap:45px;
    
}

.notess{
    align-content: center;
    width: 60vw;
    height: 39.6vw;
	margin:10px;
	padding:20px;
	background-color: #c6c6c6da;
    box-sizing: border-box;
    color: black;
    border-radius: 7px;
}
.align-folder{
    display:flex;
    width:75vw;
}

.aligns{
    display:flex;
    justify-content: space-between;
}

.folders{
    width:178px;
    margin-top: 10px;
    overflow: auto;
    height:420px;
    
}
.folderbutton{
    width: 100%;
    height: 40px;
    margin:10px 0px;
    text-align: left;
    text-transform: lowercase;
    border-radius: 7px;
}

.notesbutton{
    height: 40px;
    width: 20%;
    margin:10px 0px;
    text-align: left;
    text-transform: lowercase;
    border-radius: 7px;
}

.warning{
    height:80px;
    width: 100%;
    border:1px solid black;
    font-style: italic;
    color:white;
    background-color: black;
    font-size: 30px;
    text-align: center;
    padding-top:15px;
}
.note-body{
    height:30%;
    width: 100%;
    gap:5px;
    border:1px solid black;
    padding:20px;
}
